################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Asteroids/v15
/Asteroids/bin/Debug
/Asteroids/obj/Debug
/Asteroids/Asteroids.csproj.user
